@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

html {
    scroll-behavior: smooth;
}


.banner > h1 {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    animation-name: namechange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: all 10s ease-in-out;
    
}

@keyframes namechange {
    0% {color: black}
    50% {color: rgb(218,165,32)}
    100% {color: black}
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbartop {
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    background-color:rgba(240,230,140,1);
    position: fixed;
}

.icon {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.icon > a {
    height: 80px;
    width: 140px;
    background-color: transparent;
}

.iconpic {
    height: 80px;
    width: 140px;
}

.rightsidetop {
    display: flex;
    padding-right: 75px;
}

.rightside {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.desktopshowA, .desktopshowB, .desktopshowC {
    padding: 15px;
    border-radius: 100px;
}

.desktopshowA:hover, .desktopshowB:hover, .desktopshowC:hover {
    text-decoration: underline;
    text-decoration-color: rgba(240,230,140,1);
    background-color: black;
    color: rgba(240,230,140,1)
}

.hidden {
    display: none;
}

.rightside > a {
    color: black;
    text-decoration: none;
}

.banner {
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(120,115,70,0.7) 50%, rgba(240,230,140,0.7) 100%), url(https://storage.needpix.com/rsynced_images/yoga-silhouette-sunset.jpg);
    background-size: cover;
}

.breakpoint {
    display: flex;
    height: 88px;
    background-color:black;
    color: rgb(240,230,140);
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    border-bottom: 1px solid rgb(240,230,140);
    border-top: 1px solid rgb(240,230,140);
}

#exercise_id {
    background-color: rgb(240,230,140);
}


.footer {
    height: 80px;
    background-color:black;
    border-top: 1px solid rgb(240,230,140);
    color: rgb(240,230,140);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.exercise, .foodtracker {
    height: 610px;
    background-color: white;
}

.exercise {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    height: 530px
}

.exerciseContainer {
    display: flex;
    justify-content: space-around;
}

.dates, .datesForFood {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.datesForExercise, .datesForFood {
    overflow-y: scroll;
    height: 250px;
}

.emptySpace {
    height: 110px;
}

.editButton, .editFoodButton {
    margin-top: 20px;
    height: 90px;
    width: 110px;
    border: none;
    border-radius: 10px;
    color: rgb(240,230,140);
    background-color: black;
    text-align: center;
}


.editButton:hover, .editFoodButton:hover {
    background-color: rgb(240,230,140);
    color: black;
}

.createExercise {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 90px;
    width: 110px;
    border: none;
    border-radius: 10px;
    color: rgb(240,230,140);
    background-color: black;
}

.createExercise:hover {
    background-color: rgb(240,230,140);
    color: black;
}

.fa-plus {
    font-size: 48px;
}

.fa-edit {
    font-size: 48px;
}

.dateDiv, .dateDivTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80px;
}

.dateDiv:hover, .dateDivTwo:hover {
    background-color: rgb(240,230,140);
    color: black;
    cursor: pointer;
}

#showOneExercise {
    display: flex;
    text-align: center;
    align-self: flex-start;
    justify-content: space-around;
    height: 500px;
}

#showOneExercise > div  {
    align-self: center;
}

#showOneExercise > div > h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
}

.difficulty {
    font-size: 30px;
}

.sets, .reps {
    font-size: 30px;
}

.setsWord, .repsWord {
    text-decoration: underline;
}

.routineHeadings {
    border-bottom: 1px solid black;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.strikethrough {
    text-decoration: line-through;
}

.difficulty, .sets, .reps {
    font-family: 'Montserrat', sans-serif;
}

.directionButton {
    height: 50px;
    width: 110px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.directionButton:hover {
    background-color: rgb(240,230,140);
    color: black;
}

.foodtracker {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    height: 530px;
}

.breakfastHeading, .lunchHeading, .dinnerHeading {
    display: flex;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    font-family: 'Bebas Neue', cursive;
}

.breakfast, .lunch, .dinner {
    border-right: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

.footer > a > img {
    margin-left: 20px;
    width: 60px;
    height: 60px;
}

.footer > a > img:hover {
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 1));
    cursor: pointer;
}
