@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

html {
    scroll-behavior: smooth;
}

.banner > h1 {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    animation-name: namechange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: all 10s ease-in-out;
    text-align: center;
}

@keyframes namechange {
    0% {color: black}
    50% {color: rgb(218,165,32)}
    100% {color: black}
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbartop {
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    background-color:rgba(240,230,140,1);
    border-bottom: 1px solid black;
}

.createExercise {
    height: 100%;
    width: 120px;
    border-radius: 10px;
    color: rgb(240,230,140);
    background-color: black;
    border: none;
}

.editButton {
    margin: 30px;
    height: 60px;
    /* width: 70px; */
    border: none;
    border-radius: 10px;
    color: rgb(240,230,140);
    background-color: black;
}

.editFoodButton {
    margin: 30px;
    height: 60px;
    /* width: 70px; */
    border: none;
    border-radius: 10px;
    color: rgb(240,230,140);
    background-color: black;
}

.fa-plus {
    font-size: 36px;
}

.fa-edit {
    font-size: 36px;
}

.exercise {
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
}

#showOneExercise {
    display: flex;
    text-align: center;
    align-self: flex-start;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.routineHeadings {
    border-bottom: 1px solid black;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.directionButton {
    font-size: 15px;
    width: 80px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    height: 50px;
    font-family: 'Bebas Neue', cursive;
    margin: 20px;
}

.difficulty {
    font-size: 15px;
}

.foodtracker {
    display: flex;
    flex-direction: column;
    height: 610px;
    background-color: white;
}

.dates {
    display: flex;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    align-items: center;
}

.datesFood {
    display: flex;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    align-items: center;
}

.datesForExercise {
    display: flex;
    overflow-x: scroll;
    height: 120px;
    width: 180px;
    margin: 0 auto;
    align-items: center;
}

.datesForFood {
    display: flex;
    overflow-x: scroll;
    height: 120px;
    width: 180px;
    margin: 0 auto;
    align-items: center;
}


.dateDiv, .dateDivTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80px;
    /* margin: 20px; */
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}

.breakfastHeading, .lunchHeading, .dinnerHeading {
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    font-family: 'Bebas Neue', cursive;
}

.sets, .reps, .breakfastList, .lunchList, .dinnerList {
    font-size: 15px;
    margin: 10px;
}

.hamburger::before {
    content: '\2630';
    font-size: 35px;
    color: black;
    display: flex;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    justify-content: center;
    border-radius: 60px;
}

.hamburger:hover:before {
    color: rgb(240,230,140);
    transform: scale(1.25);
    background-color: black;
}

.hamburgercrossed::before {
    content: '\2715';
    font-size: 35px;
    color: black;
    position: relative;
    display: flex;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    justify-content: center;
}

.hamburgerdiv {
    width: 60px;
    height: 55px;
}

.hamburgerdiv:hover {
    background-color: black;
    border-radius: 20px;
}

.hamburgerdiv > .hamburger:hover {
    text-decoration: none;
}

.rightsidetop {
    display: flex;
    padding-right: 20px;
    flex-direction: column;
    position: relative;
}


.shown {
    height: 200px;
    font-size: 25px;
}

.rightside {
    display: none;
}

.icon {
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.hidden {
    height: 33.3%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    color: rgba(240,230,140,1);
    border-bottom: 1px solid rgba(240,230,140,1);
    text-decoration: none;
}

.hidden:hover {
    background-color: rgba(240,230,140,1);
    color: black;
}


.icon > a {
    height: 80px;
    width: 140px;
    background-color: transparent;
}

.iconpic {
    height: 80px;
    width: 140px;
}

.desktopshowA, .desktopshowB, .desktopshowC {
    padding: 15px;
    border-radius: 100px;
}

.desktopshowA:hover, .desktopshowB:hover, .desktopshowC:hover {
    text-decoration: underline;
    text-decoration-color: rgba(240,230,140,1);
    background-color: black;
    color: rgba(240,230,140,1)
}

.hamburgermenu {
    width: 100%;
    display: none;
    background-color: black;
    color: rgba(240,230,140,1);
    font-family: 'Montserrat', sans-serif;
}

.hamburgermenu > a {
    text-decoration: none;
}


.rightside > a {
    color: black;
    text-decoration: none;
}

.banner {
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(120,115,70,0.7) 50%, rgba(240,230,140,0.7) 100%), url(https://storage.needpix.com/rsynced_images/yoga-silhouette-sunset.jpg);
    background-size: cover;
}

.breakpoint {
    display: flex;
    height: 90px;
    background-color:black;
    color: rgb(240,230,140);
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    border-bottom: 1px solid rgb(240,230,140);
    border-top: 1px solid rgb(240,230,140);
}

#exercise_id {
    background-color: black;
}


.footer {
    height: 80px;
    background-color:black;
    border-top: 1px solid rgb(240,230,140);
    color: rgb(240,230,140);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.exercise {
    /* display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr; */
    height: 530px
}

.exerciseContainer {
    display: flex;
    justify-content: space-around;
}

.emptySpace {
    height: 100%;
    width: 120px;
}


.editButton:hover, .editFoodButton:hover {
    background-color: rgb(240,230,140);
    color: black;
}

.createExercise:hover {
    background-color: rgb(240,230,140);
    color: black;
}

.dateDiv:hover, .dateDivTwo:hover {
    background-color: rgb(240,230,140);
    color: black;
    cursor: pointer;
}

#showOneExercise > div  {
    align-self: center;
}

#showOneExercise > div > h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
}

h6.sets, h6.reps {
    margin: 10px;
}

.setsWord, .repsWord {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.difficulty, .sets, .reps {
    font-family: 'Montserrat', sans-serif;
}

.directionButton:hover {
    background-color: rgb(240,230,140);
    color: black;
}

.meals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.breakfast, .lunch, .dinner {
    border-right: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

.breakfastContainer, .lunchContainer, .dinnerContainer {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
}

.footer > a > img {
    margin-left: 20px;
    width: 60px;
    height: 60px;
}

.footer > a > img:hover {
    filter: drop-shadow(0px 0px 7px rgba(240,230,140,1));
    cursor: pointer;
}

.modal-header {
    border-bottom: 1px solid black;
}

.form-control {
    border: 1px solid black;
}

.modal-content {
    color: black;
}

#createSubmit, #exerciseEditSubmit, #foodEditSubmit, #exerciseDelete {
     background-color: black;
     color: rgba(240,230,140,1)
}

#createSubmit:hover, #exerciseEditSubmit:hover, #foodEditSubmit:hover {
    border: 1px solid green;
    background-color: green;
    color: rgba(240,230,140,1);
}

#exerciseDelete:hover {
    border: 1px solid red;
    background-color: red;
    color: black;
}

.btn-success {
    border-color: rgba(240,230,140,1);
}

.btn-success:hover {
    border-color: rgba(240,230,140,1)
}

@media screen and (min-width: 600px) {

    .hamburger::before {
        display: none;
    }

    .hamburgerdiv {
        display: none;
    }

    .createExercise {
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        height: 90px;
    }

    .editButton,.editFoodButton {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        height: 90px;
    }

    .fa-plus {
        font-size: 48px;
    }
    
    .fa-edit {
        font-size: 48px;
    }

    .exercise {
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 1fr;
        height: 530px
    }

    .routineHeadings {
        font-size: 40px;
    }

    .directionButton {
        width: 110px;
    }

    .difficulty {
        font-size: 30px;
    }

    .foodtracker {
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 1fr;
        height: 100%;
    }


    .dates, .datesFood {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .datesForExercise {
        display: block;
        overflow-y: scroll;
        height: 300px;
        width: 100%;
    }

    .datesForFood {
        overflow-y: scroll;
        height: 300px;
        display: block;
        width: 100%;
    }

    .emptySpace {
        height: 10px;
    }

    .dateDiv, .dateDivTwo {
        font-size: 25px;
    }

    .breakfastHeading, .lunchHeading, .dinnerHeading {
        font-size: 40px;
    }

    .sets, .reps, .breakfastList, .lunchList, .dinnerList {
        font-size: 30px;
        margin: 0px;
    }

    .rightsidetop {
        padding-right: 75px;
        flex-direction: row;
    }

    .rightside {
        display: flex;
        width: 300px;
        justify-content: space-between;
    }

    .icon {
        margin-left: 50px;
    }

    .hidden {
        padding-left: 50px;
    }

}